.dark-mode {
    --primary-bg: #E3D7F1;
    --secondary-text: #2B2A33;
    --accent-color: #7B5EA4;
}
:root {
    --primary-bg: #2B2A33;
    --secondary-text: #E3D7F1;
    --accent-color: #D16BA5;
   
    --primary-bg-rgb: 43, 42, 51;
    --secondary-text-rgb: 227, 215, 241;
    --accent-color-rgb: 209, 107, 165;
    --nippo-light: Nippo light;
    --nippo-medium: Nippo regular;
    --nippo-bold: Nippo;
}
body{
    box-sizing: border-box;
    font-family: var(--nippo-bold);
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--primary-bg);
    color: var(--secondary-text);
    transition: color 0.3s, background-color 0.3s;
}
#logo{
    letter-spacing: 2px;
    font-size: 3rem;
    padding: 0px;
    margin: 10px 0px;
    cursor: pointer;
    -webkit-text-stroke: 1.5px var(--accent-color);
    color: var(--primary-bg);
    transition: color 0.3s ease-in;
    &:hover{
        color: rgba(var(--accent-color-rgb), 0.2);
    }
}
#q{
    font-family: var(--nippo-medium);
    font-size: 2rem;
    display: block;
    text-align: center;
    letter-spacing: 8px;
    font-style: italic;
    /* -webkit-text-stroke: 0.1px var(--accent-color); */

    /* text-decoration: underline overline; */
    text-transform: capitalize;
    margin: 30px 0px 0px 0px;
}
#question{
    font-family: var(--nippo-light);
    font-size: 1.5rem;
    text-align: center;
    width: 60rem;
    font-style: italic;
}
i[id=btnDarkM]{
    top: 4%;
    right: 3%;
    position: fixed;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    padding: 7px 9px;
    cursor: pointer;
    color: var(--secondary-text);
    transition: opacity 0.2s ease-in-out;
    &:hover{
        opacity: 0.6;
    }
}
i[id=backBtn]{
    top: 4%;
    left: 3%;
    position: fixed;
    /* border: 1px solid var(--accent-color); */
    /* border-radius: 50%; */
    font-size: 0.7rem;
    font-weight: 900;
    padding: 7px 9px;
    cursor: pointer;
    color: var(--secondary-text);
    transition: opacity 0.2s ease-out;
    display: none;

    &:hover{
        opacity: 0.6;
    }
}
i[id=rightAngle]{
    top: 50%;
    right: 3%;
    position: fixed;
    /* border: 1px solid var(--accent-color); */
    font-size: 3rem;
    border-radius: 50%;
    padding: 7px 9px;
    cursor: pointer;
    color: var(--secondary-text);
    transition: opacity 0.2s ease;

    &:hover{
        opacity: 0.7;
        /* transform: translateY(2px); */
    }
    &:active{
        transform: translateX(1px);
    }
}
i[id=leftAngle]{
    top: 50%;
    left: 3%;
    position: fixed;
    /* border: 1px solid var(--accent-color); */
    font-size: 3rem;
    border-radius: 50%;
    padding: 7px 9px;
    cursor: pointer;
    color: var(--secondary-text);
    transition: opacity 0.2s ease;

    &:hover{
        opacity: 0.7;
        /* transform: translateY(2px); */
    }
    &:active{
        transform: translateX(1px);
    }
    
}
.containerA{
    /* display: grid; */
    place-items: center;
    display: none;

}
.containerB{
    display: flex;
    place-items: center;
}
.containerB > button.display{
    display: block;
}
.containerB > button{
    display: none;
    font-family: var(--nippo-light);
    text-transform: capitalize;
    font-size: 3rem;
    width: 50rem;
    height: 5rem;
    background-color: var(--primary-bg);
    color: var(--secondary-text);
    border: 1px solid var(--accent-color);
    /* border: none; */
    border-radius: 0.4rem;
    margin: 13rem 0rem;
    /* padding: 3rem ; */
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;

    &:hover{
        color: var(--secondary-text); 
        background-color: rgba(var(--secondary-text-rgb), 0.1);
        /* transform: translateY(-2px); */
    }
    &:active{
        transform: translateX(2px);
    }
    &:focus{
        outline: 1px solid var(--secondary-text);
        background-color: rgba(var(--accent-color-rgb), 0.3);

    }
    
}
.options{
    margin: 2.5rem 0px 0px 0px;
}
.options > button {
    display: flex;
    flex-direction: column;
    font-family: var(--nippo-light);
    font-size: 1.5rem;
    width: 50rem;
    height: 2.5rem;
    place-items: center;
    background-color: var(--primary-bg);
    color: var(--secondary-text);
    border: 1px solid var(--accent-color);
    border-radius: 0.4rem;
    margin: 1rem 0rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;

    &:hover{
        color: var(--secondary-text); 
        background-color: rgba(var(--secondary-text-rgb), 0.1);
        transform: translateY(-2px);
    }
    &:active{
        transform: translateX(1px);
    }
    &:focus{
        outline: 1px solid var(--secondary-text);
    }
    
}


